@import "tailwindcss";

/* Import remixicon styles */
@import "remixicon/fonts/remixicon.css";

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mobile-nav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: white;
    border-top: 1px solid #e5e7eb; /* border-gray-200 */
}

@media (min-width: 768px) {
    .mobile-nav-container {
        display: none !important;
    }
}