/* Custom Select styles */
.custom-select-wrapper {
position: relative;
display: flex;
align-items: center;
width: 100%;
margin-bottom: 1rem;
border-radius: 0.5rem;
overflow: hidden;
border: 1px solid #2c3e50;
background-color: #f5f5f5;
}
.custom-select-icon {
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
color: #232323;
font-size: 1.25rem;
min-width: 3.5rem;
pointer-events: none;
}
.custom-select-field {
flex: 1;
padding: 0.875rem 1rem;
background-color: transparent;
color: #2c3e50;
border: none;
outline: none;
font-size: 1rem;
appearance: none; /* Remove default arrow */
cursor: pointer;
width: 100%;
}
.custom-select-arrow {
padding-right: 1rem;
color: #6b5674;
pointer-events: none;
font-size: 1.2rem;
}
.custom-select-wrapper:focus-within {
border-color: #6b5674;
background-color: #e6e3e3;
}